.input {
  display: flex;
  flex-direction: column;

  /* border: 2px solid black; */
}
.input > p {
  font-size: 15px;
  margin-top: 5px;
  color: #707776;
  font-weight: bold;
}
.input > input {
  display: flex;
  justify-content: flex-start;
  width: 99%;
  height: 30px;
  background-color: #d6d7d8;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #707776;
  font-weight: bold;
}
